*{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    background: #d41872;
    height: 70px;
}
.ancho{
    width: 80%;
    height: 70px;
    margin: auto;
}
.logo{
    width: 60%;
    height: 70px;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}
.textoAdorno0{
    padding: 0 0 0 10%;
    font-family: Conforta;
    font-size: 14px;
    color: black;
}
.textoAdornoTitulo{
    padding: 0 0 0 0;
    font-family: Conforta;
    font-size: 150%;
    color: black;
    margin: 0 1em 0 1em;
}
.textoAdornoGeneral{
    font-family: Conforta;
    font-size: 17px;
    color: #0968ba;
}
.textoAdornoGeneralCabecera{
    font-family: Conforta;
    font-size: 20px;
    color: #0968ba;
    text-align: center;
}

.notaPie{
    font-family: Conforta;
    font-size: 20px;
    color: #5e5e5e;
    text-align: center;
}
.textoAdorno1{
    color: red;
}
.textoAdorno2{
    color: blue;
}
p {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px 25px 25px 25px;
}

.letraVisualiza {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

.login100-form {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
}

.logo p a{
    color: #fff;
    font-size: 45px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: conforta;
}

#estilo{
    background-color: #EA792D;
}
#content {
    width:100%;
    margin:auto; 
    height:auto; 
    background:#757E7F; 
    overflow:auto;
}
nav{
    width: 40%;
    height: 70px;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing:border-box;
}
nav ul li{
    display: inline;
}

nav ul li a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: conforta;
}
nav ul li a:hover {
    color: #757E7F;
}
@font-face{
    font-family: conforta;
    src:url(../fonts/Comfortaa-Regular.ttf);
}
@font-face{
    font-family: opensans;
    src:url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
    font-family: opensanssb;
    src:url(../fonts/OpenSans-SemiBold.ttf);
}

.textoIndividual{
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: conforta;
}

#your-img {
    height: auto; 
    width: auto; 
    max-width: 100%; 
    max-height: 100%;
}

.wap{
    margin: auto;
    width: 90%;
}
.wapCompleto{
    margin: auto;
    width: 100%;
}
.bienvenidos {
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
.parrafos{
    width: 33.3%;
    float: left;
    padding: 20px 20px;
    box-sizing:border-box;
}
.contenedor10{
    width: 10%;
    float: left;
    box-sizing:border-box;
}
.contenedor15{
    width: 15%;
    float: left;
    box-sizing:border-box;
}

.contenedor20{
    width: 20%;
    float: left;
    padding: 20px 20px;
    box-sizing:border-box;
}
.contenedor30{
    width: 30%;
    float: left;
    padding: 20px 20px;
    box-sizing:border-box;
}
.contenedor40{
    width: 40%;
    float: left;
    padding: 20px 20px;
    box-sizing:border-box;
}
.contenedor50{
    width: 50%;
    float: left;
    padding: 20px 20px;
    box-sizing:border-box;
}
.contenedor60{
    width: 60%;
    float: left;
    padding: 20px 20px;
    box-sizing:border-box;
}
.contenedor70{
    width: 70%;
    float: left;
    padding: 20px 20px;
    box-sizing:border-box;
}
.contenedor80{
    width: 100%;
    float: left;
    padding: 20px 20px;
    box-sizing:border-box;
}

.parrafosc{
    width: 100%;
    float: left;
    box-sizing:border-box;
}

.content{
}

h1,h2,h3,h4,h5,h6{
    font-family: conforta;
}

.parrafos  p{
    font-family: opensans;
    margin-top: 20px;
    text-align: justify;
}

.parrafos80  p{
    font-family: opensans;
    text-align: justify;
}

.parrafosc p{
    font-family: opensans;
    margin-top: 20px;
    text-align: justify;
}

.bienvenidos  p{
    font-family: opensans;
    margin-top: 20px;
    text-decoration: j
}

.cuadrado {
    width: 100px; 
    height: 100px; 
    background: #428bca;
}

.circulo {
    width: 90px;
    height: 90px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ea8947;
}

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

.circulo2 {
    width: 90px;
    height: 90px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ea8947;
    margin: 15px;
}

.circuloContacto{
    width: 45px;
    height: 45px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #757E7F;
}

i{
    font-size:48px;
}

#iconos{
    font-size:48px;
    color:white;
    margin-top: 0.4em;
    margin-left: 0.4em;
}
#iconosFooter{
    font-size:48px;
    color:white;
    margin-top: 0.45em;
    margin-left: 0.5em;
}
#iconosContacto{
    font-size:25px;
    color:white;
    margin-top: 0.4em;
    margin-left: 0.4em;
}

#parrafoContact{
    font-family: opensans;
    text-align: justify;
    color: #E4E9EC;
}

#parrafoContact{
    font-family: opensans;
    text-align: justify;
    color: #E4E9EC;
}

.seccion100{
    width: 100%;
    float: left;
    padding: 20px 20px;
    box-sizing:border-box;
}

input[type=text], select {
    width: 100%;
    padding: 0px 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #757E7F;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #757E7F;
}

.button1:hover {
    background-color: #757E7F;
    color: white;
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
}
