<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Bienvenido</title>
        <link rel="icon" type="image/png" href="../images/logo_cnel.png" />
    </h:head>
    <h:body>
        <script type="text/javascript">
            //<![CDATA[
            function esNumero(e) {
                if (e.which < 48 || e.which > 57) {
                    if (e.which != 8) {
                        if (e.keyCode != 9) {
                            if (e.keyCode < 96 || e.keyCode > 105) {
                                return false
                            }
                        }
                    }
                }
            }
            //]]>
        </script>
        <table width="100%" >
            <tbody>
                <tr>
                    <td colspan="7">
                        <center>
                             <a href="AccessPage.xhtml">
                                 <img src="../images/presentacion_1.jpg" width="100%"/>
                            </a>
                        </center> 
                    </td>
                </tr>
            </tbody>
        </table>
        <br/><br/>
        
        <center>
            <h:form id="mainForm">
                <f:metadata>
                    <f:event type="preRenderView" listener="#{accesBEAN.getAllLocations()}" />
                </f:metadata>
                <h:panelGrid columns="3" cellpadding="2"  >
                    <p:inputText  id="junk6" value=" " style="border: none;visibility: hidden">
                    </p:inputText>
                    <p:panel  id="mainPanel" header="Bienvenido" style="border-style: none" visible="true">
                        <center>
                            <p:growl id="msgs"  showDetail="false" life="7000"/>
                            <h:panelGrid columns="2" cellpadding="2" >
                                <h:outputText style="padding-top:10%;padding-bottom: 10%;font-weight:bold;color: #830018" value="Unidad de negocio: " />
                                <p:selectOneMenu id="datatableBU" filter="true" value="#{accesBEAN.inicales_UN}" required="true" requiredMessage="#{accesBEAN.validateMandatoryFieldC}">
                                    <f:selectItem itemValue="#{null}" itemLabel="Seleccione" />
                                    <f:selectItems  value="#{accesBEAN.ll_businessUnits}" var="bus" itemLabel="#{bus.name}" itemValue="#{accesBEAN.concatValues(bus.code, bus.iniciales)}">     
                                    </f:selectItems> 
                                </p:selectOneMenu>
                                <h:outputText style="padding-top:10%;padding-bottom: 10%;font-weight:bold;color: #830018" value="Cédula de identidad: " />
                                <p:inputText required="true" requiredMessage="#{accesBEAN.validateMandatoryField}" id="participantCC" value="#{accesBEAN.participant_cc}" autocomplete="off" onkeydown="return esNumero(event)">
                                </p:inputText>
                                <center>
                                    <p:commandButton id="btnEmpezar" value ="Comenzar encuesta"  action="#{accesBEAN.validateStartSurvey()}" update=":mainForm" icon="ui-icon-extlink">
                                    </p:commandButton>
                                </center>
                            <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                                <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                                    <img src="../images/ajax_loader.gif"  width="150px" height="150px"/>
                                </p:dialog>
                            </h:panelGrid>
                        </center>
                    </p:panel>
                    <p:inputText  id="junk7" value=" " style="border: none;visibility: hidden">
                    </p:inputText>
                </h:panelGrid>
                
            </h:form>
            <br/><br/><br/><br/>
        </center>
        <table width="100%" >
            <tbody>
                <tr>
                    <td colspan="7">
                        <center>
                             <a href="AccessPage.xhtml">
                                 <img src="../images/presentacion2.png" width="100%" />
                            </a>
                        </center> 
                    </td>
                </tr>
            </tbody>
        </table>
    </h:body>
    <style>
        body {
            background-image: url("../images/agua_2.png");
            background-color: #cccccc;
        }
    </style>
</html>
