<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Bienvenido</title>
        <link rel="icon" type="image/png" href="../images/encuestaIco.png" />
    </h:head>
    <h:body>
        <h:form id="mainForm">
            <f:metadata>
                <f:event type="preRenderView" listener="#{accesBEAN.getAllLocations()}" />
            </f:metadata>
        </h:form>

        <table width="100%" >
            <tbody>
                <tr>
                    <td colspan="7">
                        <center>
                            <a href="AccessPage.xhtml">
                                <img src="../images/Alerta.png" width="100%"/>
                            </a>
                        </center> 
                    </td>
                </tr>
            </tbody>
        </table>
    </h:body>

</html>
