<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Encuesta Concluida</title>
        <link rel="icon" type="image/png" href="../images/botoncrear.png" />
        <link rel="icon" type="image/png" href="../images/ico-005 (6).ico" />
    </h:head>
    <h:body>
        <script type="text/javascript">
            window.onload = function() {
               "#{surveyMasterBEAN.displayMessage()}";
            };

        </script>
        <h:form id="mainForm">
            <p:dialog position="center" closable="false" id='ExistMessage' modal="true" showEffect="fade" hideEffect="fade" widgetVar="advertenciaFinal" style="border-radius: 25px 25px"  resizable="false">
                <p:graphicImage  value="#{surveyMasterBEAN.image}" width="1000px" height="400px"/>
                <br/>
                <br/>
                <p:commandLink  value=" ✓ Ok " type="button" styleClass="ui-confirmdialog-yes" actionListener="#{surveyMasterBEAN.RedirectPage()}" style="
                               font-size: 32pt;
                               font-weight: bold;
                               font-family: cursive; 
                               padding: 4px;
                               background-color: #3399ff;
                               color: #ffffff;
                               text-decoration: none;
                               border: 5px solid;
                               border-radius: 25px;
                               border-color: #0B2161;
                               float:right" onclick="PF('advertenciaFinal').hide();">
                </p:commandLink>
            </p:dialog>
        </h:form>
    </h:body>
</html>
