<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Encuesta Web - Notify</title>
        <link rel="icon" type="image/png" href="../images/encuestaIco.png" />
        <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css"></link>
        <link rel="stylesheet" type="text/css" href="../assets/css/style.css"></link>
        <link rel="stylesheet" type="text/css" href="../assets/css/main.css"></link>
        <link rel="stylesheet" type="text/css" href="../assets/css/util.css"></link>
    </h:head>
    <style>
        .contenedor80 {
            text-align:-webkit-center;
        }
    </style>
    <h:body>
        <script type="text/javascript">
            window.onload = function () {
                //document.body.style.zoom = "100%"; 
                "#{surveyMasterBEAN.getAllSurveyInformation()}";
            };

        </script>
        <h:form>
            <h:graphicImage value="#{surveyMasterBEAN.ls_imgHeader}" style="width: 100%; height: 15%;" />
        </h:form>
        <div class="textoAdornoTitulo">
            <h:form>
                <br></br>
                <h:outputLabel class="textoAdornoGeneralCabecera" value="#{surveyMasterBEAN.s_tittle}"></h:outputLabel>
                <br></br>
                <h:outputLabel class="textoAdornoGeneral" value="#{surveyMasterBEAN.s_message}"></h:outputLabel>
            </h:form>
        </div>

        <div class="row">
            <div class="contenedor10"></div>
            <div class="contenedor80">
                <h:panelGrid columns="3" cellpadding="3" >
                    <h:form id="mainForm" >
                        <h:panelGrid columns="1" cellpadding="1" >
                            <p:inputText  id="junk1" value=" " rendered="false"></p:inputText>
                            <p:panel id="mainPanel" style="border: none !important; border-color: transparent !important;" > 
                                <!--Zona principal de secciones -->
                                <p:dataTable  rowIndexVar="rowS" id="sectionsList" value="#{surveyMasterBEAN.l_sections}" 
                                              var="section" paginator="false" rows="1" styleClass="borderless ui-corner-all" 
                                              tableStyle="width:auto;" emptyMessage="Usted no puede realizar la encuesta." >
                                    <p:column  >
                                        <h:panelGrid id="panelx"  style="margin-bottom:0px; border: none !important; border-color: transparent !important;"> 
                                            <p:inputText  id="junk1" value="OOOO"  rendered="false" >
                                            </p:inputText>
                                            <!--Zona principal de preguntas -->
                                            <p:dataTable rowIndexVar="rowQ" id="questionList" value="#{section.sl_questions}" var="questionUnit" paginator="false" styleClass="borderless" tableStyle="border:none" emptyMessage="La seccion carece de preguntas.">
                                                <p:column style="border-style: none" >
                                                    <h:panelGrid columns="1" cellpadding="2" >
                                                        <h:outputText styleClass="input100 input" value="#{surveyMasterBEAN.concatStrings(rowQ+1,questionUnit.p_name,questionUnit.p_mandatory,questionUnit.p_type)}" escape="false" /> 
                                                    </h:panelGrid>
                                                    <!--panel si es abierta -->
                                                    <p:panel style="border-style: none;background: transparent" rendered="#{surveyMasterBEAN.isOpen(questionUnit.p_type)}">
                                                        <h:inputTextarea styleClass="input100" requiredMessage="Respuesta requerida" id="inputOpen" style="border-radius: 20px" rows="5" cols="70" value="#{questionUnit.p_openAnswer}"  required="#{questionUnit.p_mandatory}"/>
                                                        <h:message for="inputOpen" style="color:red"/>
                                                    </p:panel>

                                                    <!--panel si multiple-->

                                                    <p:panel style="border-style: none; padding: 0% 10% 0% 8%; width: 100%;background: transparent"   rendered="#{surveyMasterBEAN.isMultiple(questionUnit.p_type)}">

                                                        <h:selectOneRadio   styleClass="myRadioGroup" requiredMessage="Respuesta requerida" required="#{questionUnit.p_mandatory}" layout="lineDirection" id="radioOptions" value="#{questionUnit.p_idOptionAnswer}">
                                                            <p:ajax listener="#{questionUnit.handleOptionChange}" update="panelCallback" global="false"/>
                                                            <f:selectItems  value="#{questionUnit.p_optionsList}" itemValue="#{op.qp_idOption}" var="op" itemLabel="#{op.qo_sticker}"  />
                                                        </h:selectOneRadio>

                                                        <p:message for="radioOptions" style="color:red"/>
                                                        <center><h:graphicImage value="#{surveyMasterBEAN.ls_imgMeditor}" style="width: 100%; height: 10%;" /></center>
                                                        <!--panel anidado de captura callback width: 450px;(sacado)-->
                                                        <p:panel id="panelCallback" style="border-style: none;background: transparent"  visible="#{surveyMasterBEAN.isCallbackNecessary(questionUnit.p_callback,questionUnit.p_chossen)}" >
                                                            <h:panelGrid columns="1" cellpadding="2" >
                                                                <h:outputText style="padding-left: 15px;color: #329fff;font-weight:bolder;" value="#{questionUnit.p_ruleMessage}" escape="false" /> 
                                                                <!-- agregado width: 90%; -->
                                                                <p:inputTextarea id="inputOpenCallback" style="border-radius: 20px;width: 90%;"  autoResize="false" rows="4" cols="70" value="#{questionUnit.p_openAnswer}" placeholder="   Ingrese su comentario aqui."/>
                                                            </h:panelGrid>
                                                        </p:panel>

                                                    </p:panel>

                                                    <!--panel si multiple respuesta-->
                                                    <p:panel style="border-style: none;width: 250px;background: transparent"  rendered="#{surveyMasterBEAN.isMultipleResponse(questionUnit.p_type)}">
                                                        <h:selectManyCheckbox styleClass="myRadioGroup" requiredMessage="Respuesta requerida" required="#{questionUnit.p_mandatory}" layout="pageDirection" id="radioOptionsMany" value="#{questionUnit.p_ListIdOptionAnswer}" >
                                                            <f:selectItems value="#{questionUnit.p_optionsList}" var="op" itemLabel="#{op.qo_sticker}" itemValue="#{op.qp_idOption}" />
                                                        </h:selectManyCheckbox>
                                                        <p:message for="radioOptions" style="color:red"/>
                                                    </p:panel>

                                                    <!--panel si es si/no-->
                                                    <p:panel style="border-style: none;background: transparent" rendered="#{surveyMasterBEAN.isBoolean(questionUnit.p_type)}">
                                                        <p:selectOneMenu effect="fold" requiredMessage="Respuesta requerida" required="#{questionUnit.p_mandatory}" id="yesNo" value="#{questionUnit.p_idOptionAnswer}" style="width:125px">
                                                            <f:selectItem itemValue="#{null}" itemLabel="*" />
                                                            <f:selectItems value="#{questionUnit.p_optionsList}" itemValue="#{op.qp_idOption}" var="op" itemLabel="#{op.qo_sticker}"  />
                                                        </p:selectOneMenu>
                                                        <h:message for="yesNo" style="color:red"/>
                                                    </p:panel>
                                                </p:column>
                                            </p:dataTable>
                                        </h:panelGrid>
                                    </p:column> 

                                </p:dataTable>
                                <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                                <p:dialog  widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                                    <img src="../images/ajax_loader.gif"  width="150px" height="150px"/>
                                </p:dialog>
                                <p:dialog id='ExistMessage' modal="true" closable="false" showEffect="fade" hideEffect="fade" widgetVar="advertenciaE" style="border-radius: 25px 25px" header="Aviso" resizable="false">
                                    <p:outputLabel id="lblact4" escape="false" value="#{surveyMasterBEAN.validateMesssage}"/>
                                    <br/>
                                    <br/>
                                    <p:commandLink value="Entendido" type="button" styleClass="ui-confirmdialog-yes" actionListener="#{surveyMasterBEAN.redirectOnErrorN(0)}" style="
                                                   font-size: 10pt;
                                                   font-weight: bold;
                                                   padding: 4px;
                                                   background-color: #F2F2F2;
                                                   color: #572020;
                                                   text-decoration: none;
                                                   border: 1px solid #DDDDDD;
                                                   border-radius: 4px;
                                                   float:right" onclick="PF('advertenciaE').hide();">
                                    </p:commandLink>
                                </p:dialog>
                                <p:dialog id='simpleMessenger' style="border-radius: 25px 25px" modal="true" showEffect="fade" hideEffect="fade" widgetVar="advertenciaSS"  header="Aviso" resizable="false">
                                    <p:outputLabel id="lblact3" escape="false" value="#{surveyMasterBEAN.validateMesssage}"/>
                                    <br/>
                                    <br/>
                                    <p:commandLink value="Entendido" type="button" styleClass="ui-confirmdialog-yes" style="
                                                   font-size: 10pt;
                                                   font-weight: bold;
                                                   padding: 4px;
                                                   background-color: #F2F2F2;
                                                   color: #572020;
                                                   text-decoration: none;
                                                   border: 1px solid #DDDDDD;
                                                   border-radius: 4px;
                                                   float:right" onclick="PF('advertenciaSS').hide();">
                                    </p:commandLink>
                                </p:dialog>


                                <br></br>
                                <h:outputLabel class="notaPie" value="#{surveyMasterBEAN.ls_note}"></h:outputLabel>


                                <center>
                                    <p:commandButton id="btnGuardar" value ="Participar" rendered="#{surveyMasterBEAN.ready}" disabled="#{!surveyMasterBEAN.ready}"  action="#{surveyMasterBEAN.finalMessage()}" update=":mainForm :mainForm:alertaGuardado">
                                    </p:commandButton>
                                </center>
                                <p:dialog id='alertaGuardado' style="border-radius: 25px 25px" modal="true" showEffect="fade" hideEffect="fade" widgetVar="advertenciaS"  header="Aviso" resizable="false">
                                    <p:outputLabel id="lblact2" escape="false" value="#{surveyMasterBEAN.mensajeVista}"/>
                                    <br/>
                                    <br/>
                                    <p:commandLink id="opcionNo" value="× No" type="button" styleClass="ui-confirmdialog-no"  onclick="PF('advertenciaS').hide();"  style="
                                                   font-size: 10pt;
                                                   font-weight: bold;
                                                   padding: 4px;
                                                   background-color: #F2F2F2;
                                                   color: #572020;
                                                   text-decoration: none;
                                                   border: 1px solid #DDDDDD;
                                                   border-radius: 4px;
                                                   float:right;
                                                   margin-left: 2%" >
                                    </p:commandLink> 
                                    <p:commandLink value="✓ Sí, acepto" type="button" styleClass="ui-confirmdialog-yes" actionListener="#{surveyMasterBEAN.getAllAnswers()}" style="
                                                   font-size: 10pt;
                                                   font-weight: bold;
                                                   padding: 4px;
                                                   background-color: #F2F2F2;
                                                   color: #572020;
                                                   text-decoration: none;
                                                   border: 1px solid #DDDDDD;
                                                   border-radius: 4px;
                                                   float:right" update=":mainForm" onclick="PF('advertenciaS').hide();">
                                    </p:commandLink>
                                </p:dialog>

                            </p:panel>
                            <p:inputText  id="junk22" value=" " style="border: none;visibility: hidden">
                            </p:inputText>
                        </h:panelGrid>
                    </h:form>





                </h:panelGrid>

            </div>
            <div class="contenedor10"></div>
        </div>
    </h:body>
</html>

